bin/
pki/*
!pki/create_pki.sh
redis-data/
.idea/
kraft-data/
kraft[0-9]+-data/
/kraft0-data/data/__cluster_metadata-0/00000000000000000000.index
/kraft0-data/data/__cluster_metadata-0/00000000000000000000.log
/kraft0-data/data/__cluster_metadata-0/00000000000000000000.timeindex
/kraft0-data/data/__cluster_metadata-0/00000000000000001392.snapshot
/kraft0-data/data/__cluster_metadata-0/00000000000000003390.snapshot
/kraft0-data/data/__cluster_metadata-0/leader-epoch-checkpoint
/kraft0-data/data/__cluster_metadata-0/partition.metadata
/kraft0-data/data/__cluster_metadata-0/quorum-state
/kraft0-data/data/topic_mock_next-0/00000000000000000004.index
/kraft0-data/data/topic_mock_next-0/00000000000000000004.log
/kraft0-data/data/topic_mock_next-0/00000000000000000004.snapshot
/kraft0-data/data/topic_mock_next-0/00000000000000000004.timeindex
/kraft0-data/data/topic_mock_next-0/leader-epoch-checkpoint
/kraft0-data/data/topic_mock_next-0/partition.metadata
/kraft0-data/data/.kafka_cleanshutdown
/kraft0-data/data/.lock
/kraft0-data/data/bootstrap.checkpoint
/kraft0-data/data/cleaner-offset-checkpoint
/kraft0-data/data/log-start-offset-checkpoint
/kraft0-data/data/meta.properties
/kraft0-data/data/recovery-point-offset-checkpoint
/kraft0-data/data/replication-offset-checkpoint
